---
const English = "US";
const { description } = Astro.props;
const country = Astro.request.headers.get("X-Vercel-IP-Country") ?? "US";
const storeCountry =
  country === English ? description.english : description.spanish;
---

<div class="prose prose-invert">
  {storeCountry}
</div>
